.informations, .details {
  min-height: calc(50vh - 24px);
}

.p-details {
  padding: 0 20% 0 20%;
}

.card {
  padding: 0 !important;
  border: none;
  img {
    max-width: 100%;
  }
}

.carousel-img {
  height: 60vh;
  object-fit: cover;
  object-position: center;
}
