<nav class="navbar navbar-expand-sm navbar-light px-5">
  <%= link_to root_path, class: 'logo' do %>
  <h4 class="mb-0">Figz</h4>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to routes_path, class: "nav-link no-decoration" do %>
          <h5 class="mb-0">Explore</h5>
        <% end %>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Plan
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Favorites</a>
          <%#= link_to "Create", new_route_path, class: "dropdown-item" %>
        </div>
      </li> -->
    </ul>
    <div class="d-flex justify-content-around align-items-center">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete, class: "nav-link no-decoration" do %>
          <h5 class="mb-0">Log Out</h5>
        <% end %>
      <% else %>
        <%#= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-sm mr-2" %>
        <%= link_to new_user_session_path, class: "nav-link no-decoration" do %>
          <h5 class="mb-0">Log In</h5>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
