<div class="banner d-flex align-items-center justify-content-center text-white">
  <div class="search">
    <h4>Find your next favourite route!</h4>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="d-flex align-items-center justify-content-center text-center">
  <div class="informations p-5">
    <h2>100,000+ routes. 20 million riders. Endless memories.</h2>
    <p class="p-5">The beauty of nature doesn’t need to be hard to find. Our goal is simple - build the largest collection of hand-curated trail guides, so you can explore the outdoors with confidence. Anytime. Anywhere.</p>
    <div class="informations-links d-flex justify-content-center align-items-center">
      <%= link_to "Sign Up for free", new_user_registration_path, class: "btn btn-primary btn-lg mr-3" %>
      <%= link_to "Get Figz Pro", new_user_registration_path, class: "btn btn-outline-primary btn-lg ml-3" %>
    </div>
  </div>
</div>